body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    background-color: #f2e9e9;
    color: #050505;
}

header {
    background-color: #ffc0c7;
    color: rgb(10, 10, 10);
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}
nav ul li {
    position: relative;
}
nav ul li a {
    color: rgb(16, 16, 16);
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover,
nav ul li .dropbtn:hover {
    color: #9c663c;
}

.hero {
    background-image: url('images/hero-background.jpg');
    background-size: cover;
    color: white;
    padding: 100px 20px;
    text-align: center;
}

.hero h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 30px;
}

.gallery {
    padding: 50px 20px;
    text-align: center;
    background-color: #ecf0f1;
}

.gallery h3 {
    font-size: 28px;
    margin-bottom: 40px;
}

.gallery-item {
    display: inline-block;
    width: 22%;
    margin: 1%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
}

.gallery-item img {
    width: 100%;
    height: auto;
}

.gallery-item p {
    padding: 10px;
    font-size: 18px;
    color: #555;
}

footer {
    background-color: #ffc0c7;
    color: rgb(10, 10, 10);
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}